<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Discussions</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <!--Nav for discussion topics-->
    <div class="nav-scroller py-1 mb-3">
        <nav class="nav justify-content-center">
                                            <!--need to add routes if we go this route-->
                <a class="nav item nav-link" href="#">Interview Questions</a>
                <a class="nav item nav-link" href="#">Interview Experience</a>
                <a class="nav item nav-link" href="#">Compensation</a>
                <a class="nav item nav-link" href="#">Career</a>
                <a class="nav item nav-link" href="#">Study Guide</a>
                <a class="nav item nav-link" href="#">General Discussion</a>
         </nav>
    </div>
    <!-- possible use-->
    <div class="nav-scroller py-1 mb-3">
        <nav class="row nav justify-content-center">
                                            <!--need to add routes if we go this route-->
                <a class="col nav item nav-link" href="#">Interview Questions</a>
                <a class="col nav item nav-link" href="#">Interview Experience</a>
                <a class="col nav item nav-link" href="#">Compensation</a>
                <a class="col nav item nav-link" href="#">Career</a>
                <a class="col nav item nav-link" href="#">Study Guide</a>
                <a class="col nav item nav-link" href="#">General Discussion</a>
         </nav>
    </div>
     <h1>Discussions</h1>
     <!-- Current discussions-->
     <div class="current-discussion">
        <h2>currentDiscussion.title?</h2>
        <p>currentDiscussion.conten?</p>

     </div>
</body>

</html>